@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', san-serif;
}

img {
    border-radius: 50%;
}

.app {
    background: rgb(108, 0, 180);
    background: linear-gradient(
        184deg,
        rgba(108, 0, 180, 1) 0%,
        rgba(221, 23, 193, 1) 100%
    );
}
